#this file can be used with native profile of sccs
# only for development, we shouldn't expose too much info and make if public visible by show-values
management:
  endpoints:
    web:
      exposure:
        include: '*'
    enabled-by-default: 'true'
  endpoint:
    configprops:
      show-values: always
    env:
      show-values: ALWAYS

spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
    hibernate:
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
      ddl-auto: none
    show-sql: 'true'
  datasource:
    testWhileIdle: 'true'
    validationQuery: SELECT 1
    platform: postgres
  database:
    driverClassName: org.postgresql.Driver
example:
  property: I AM THE DEFAULT
